{%- if entities %}entities
{%- for entity in entities %}
  Entity {{ entity.name }}
  {%- for word in entity.words %}
    '{{ word }}'{% if not loop.last %}, {% endif %}
  {%- endfor %}
  end
{%- endfor %}
end
{%- endif %}

{%- if synonyms %}

synonyms
{%- for synonym in synonyms %}
  Synonym {{ synonym.name }}
  {%- for word in synonym.words %}
    '{{ word }}'{% if not loop.last %}, {% endif %}
  {%- endfor %}
  end
{%- endfor %}
end
{%- endif %}

{%- if gslots %}

gslots
{%- for gslot in gslots %}
  {{ gslot.name }}: {{ gslot.type }}
  {%- if gslot.default is defined %}
    = {{ gslot.default }}
  {%- endif %}
{%- if not loop.last %}, {% endif %}
{%- endfor %}
end
{%- endif %}

{%- if eservices %}

eservices
{%- for eservice in eservices %}
  EServiceHTTP {{ eservice.name }}
    verb: {{ eservice.verb }}
    host: '{{ eservice.host }}'
    {%- if eservice.port %}
    port: {{ eservice.port }}
    {%- endif %}
    {%- if eservice.path %}
    path: '{{ eservice.path }}'
    {%- endif %}
    {%- if eservice.mime %}
    mime: {% for mime in eservice.mime %}'{{ mime }}'{%- if not loop.last %}, {% endif %}{% endfor %}
    {%- endif %}
  end
{%- endfor %}
end
{%- endif %}

{%- if triggers %}

triggers
{%- for trigger in triggers %}
  {{ trigger.type }} {{ trigger.name }}
  {%- if trigger.type == 'Intent' %}
    {%- for phrase in trigger.phrases %}
    {{ phrase }}{{ "," if not loop.last else "" }}
    {%- endfor %}
  {%- elif trigger.type == 'Event' %}
    '{{ trigger.uri }}'
  {%- endif %}
  end
{%- endfor %}
end
{%- endif %}

{%- if dialogues %}

dialogues
{%- for dialogue in dialogues %}
  Dialogue {{ dialogue.name }}
    on: {% for trigger in dialogue.triggers %}{{ trigger }}{%- if not loop.last %}, {% endif %}{% endfor %}
    responses:
      {%- for response in dialogue.responses %}
        {{response.type}} {{response.name}}
        {%- if response.type == 'Form' %}
        {%- for param in response.params %}
          {{param.name}}: {{param.type}} = {{param.source}}
        {%- endfor %}
        {%- elif response.type == 'ActionGroup' %}
        {%- for action in response.actions %}
          {{action.keyword}}({{action.content}}){% if action.response_filters %}[{{action.response_filters}}]{% endif %}{% if action.roles %}[{{action.roles}}]{% endif %}
        {%- endfor %}
        {%- endif %}
        end
      {%- endfor %}
  end
{%- endfor %}
end
{%- endif %}
